<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>practiceFront</title>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    </head>
    <body>
        <p>hello practice</p>
        <div class="container">
            <p class="container_kiji">
                <span class="comment">コメント：</span>考え中
                <button class="exec_button">ボタン</button>
            </p>
        </div>
        <button class="outer_button">Outer Button</button>
        <script src="./../../dist/front/practice/practiceFront.js"></script>
    </body>
</html>